body{
    background-color: #191b32;
    font-family: 'nunito', sans-serif;

    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content:center;
}

.seccion-juego,
.seccion-descripcion,
.seccion-foro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.seccion-juego img,
.seccion-descripcion img,
.seccion-foro img {
    max-width: 100%;
    height: auto;
}