body{
    background-color: #191B32;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}



/* --- PANTALLA DE CARGA --- */

.loader-screen {
    position: fixed;
    inset: 0; /* Abreviatura para top: 0, right: 0, bottom: 0, left: 0 (cubre toda la pantalla) */
    background: #191B32; /*si lo saco el pacman aparece sobre el carrusel principal*/
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de todo el contenido */
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.6s ease,
        visibility 0.6s ease;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* Título */

.loader-title {
    color: #f0d58a;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}

/* Contenedor de la animación */

.pacman-container {
    position: relative;
    width: 260px; /*ancho fijo de la pista/contenedor de pacman*/
    height: 50px; /*alto fijo de la pista/contenedor de pacman*/
    display: flex;
    align-items: center;
}

/* PAC-MAN */

.pacman {
    position: absolute;
    right: 215px; /* Inicia desde la izquierda de la pista/contenedor */
    left: 0; /*ancho del circulo del pacman*/
    height: 42px;/*alto del circulo del pacman*/
    background: #bd8d2f;
    border-radius: 50%;/* Hace que el pacman sea un círculo */
    z-index: 2; /* Asegura que Pac-Man esté por encima de los puntos */
    animation:
        movePacman 5s linear forwards, /*desplaza el pacman por el contenedor durante 5 segundos*/
        mouth 0.30s ease-in-out infinite;
}

/* Boca de Pac-Man */

.pacman::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #191B32; /* Color de fondo igual al de la pantalla para "recortar" y simular la boca */
    clip-path: polygon( /* Recorta el elemento en forma de triángulo para hacer la abertura de la boca */
        50% 50%,
        100% 20%,
        100% 80%
    );
    animation: mouthShape 0.35s ease-in-out infinite; /* Anima la apertura y cierre constante de la boca */
}

/*
Pacman: 
Esq sup Izq 0% 0% 
esq sup Der 100% 0%
esq inf Der 100% 100%
esq inf Izq 0% 100%
centro %50 %50*/

/* PUNTOS */

.dot {
    position: absolute;
    width: 9px;
    height: 9px;
    background: #00E5FF;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 8px rgba(0, 229, 255, 0.35);
}

/* posiciones */

.dot-1 {
    left: 80px;
    animation: eatDot 2s linear forwards;
    animation-delay: 0.60s;
}

.dot-2 {
    left: 140px;
    animation: eatDot 3s linear forwards;
    animation-delay: 1.75s;
}

.dot-3 {
    left: 200px;
    animation: eatDot 4s linear forwards;
    animation-delay: 2.85s;
}

/* MOVIMIENTO */

@keyframes movePacman {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(215px);
    }
}

/* BOCA*/ 

@keyframes mouthShape {
    0% { /*Boca semiabierta*/
        clip-path: polygon(
            50% 50%,
            100% 42%,
            100% 58%
        );
    }
    50% { /*boca totalmente abierta*/
        clip-path: polygon(
            50% 50%,
            100% 15%,
            100% 85%
        );
    }
    100% { /*Boca semiabierta*/
        clip-path: polygon(
            50% 50%,
            100% 42%,
            100% 58%
        );
    }
}
/*
 @keyframes mouthShape {
    0% { 
        clip-path: polygon(
            50% 50%,
            0% 30%,
            0% 80%
        );
    }
    50% { 
        clip-path: polygon(
            50% 50%,
            0% 70%,
            0% 90%
        );
    }
    100% { 
        clip-path: polygon(
            50% 50%,
            0% 30%,
            0% 80%
        );
    }
}*/

/* DESAPARECER PUNTOS */

@keyframes eatDot {
    0% { /* Comienza visible y a tamaño normal */
        opacity: 1;
        transform: scale(1);
    }
    15% {/* Mantiene la visibilidad y tamaño normal */
        opacity: 1;
        transform: scale(1);
    }
    55% {/*se encoge hasta desaparecer*/
        opacity: 0;
        transform: scale(0);
    }
    100% {/*permanece oculto*/
        opacity: 0;
        transform: scale(0);
    }
}

/* PORCENTAJE */

.loader-progress {
    color: #bd8d2f;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/* OCULTAR */

.loader-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

